*{
 margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}
body{
  background: linear-gradient(to right,#1c7128,#c6785f);
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box{
 border-radius:3px;
  position:relative;
  margin:8% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
}
#text{
  text-align:center;
    width:450px;
    height:auto;
    clear:both;
    font-weight:500;
    font-size:1.75em;
}
#author {
    width:450px;
    height:auto;
    clear:both;
    padding-top:20px;
    font-size:1em; 
    text-align:right;
  }
.buttons{
  width:450px;
 margin:auto;
   display: block;
  padding-top:20px;
}
#tweet-quote{
 float:left;
  height:28px;
      border:none;
      border-radius:3px;
      color:#fff;
      background-color:#333;
      outline:none;
      font-size:0.85em;
      padding: 8px 18px 6px 18px;
      margin-top:30px;
      opacity:1;
      cursor:pointer;
}
#new-quote{
  float:right;
  height:38px;
      border:none;
      border-radius:3px;
      color:#fff;
      background-color:#333;
      outline:none;
      font-size:0.85em;
      padding: 8px 18px 6px 18px;
      margin-top:30px;
      opacity:1;
      cursor:pointer;
}
.footer{
	text-align: center;
	margin-top: 15px;
}
.footer a{
	text-decoration: none;
	color: black;
}